<html>
<head>
    <title>Ansible Demo</title>
</head>
<body>
  <center>
    <h1>
        Ansible sample demo..!!
        <br><br><br>
        My IP Address is {{ inventory_hostname }} 
    </h1>
  </center>
</body>
</html>